@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #FAFAFA;
}

/* Hide scrollbars on snap containers */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
