# Frontend
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/build/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Backend
backend/venv/
backend/__pycache__/
backend/.env

# General
node_modules/
.DS_Store
*.log
